/* normalize */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body  {
  background-color: var(--color-1);
  padding-bottom: 3em;
  min-height: 100vh;
  padding-bottom: 20vh;
  position: relative;
  min-width: 350px;
}

:root {
/* colores */
  --color-1: #F1F2EB;
  --color-2: #272727;
  --color-3: #5B8E7D;

  /* spacing */
  --spacing-xl: 6rem;
  --pacing-l: 4rem;
  --spacing-m: 2.4rem;
  --spacing-s: 2rem;
  --spacing-xs: 1rem;

  /* font family */
  --font-1: 'Source Code Pro', monospace;
  --font-2: 'calibri';

  /* font sizes */
  --textSize-0: 1.4rem;
  --textSize-l: 1.6rem;
  --textSize-2: 2.4rem;
  --textSize-3: 5.2rem;

}

/*HEADER PRINCIPIO  */



header {
font-family: var(--font-1);
}

  li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

li a.active, li a:hover{
  background: var(--color-3);
  transition: .25s;
}








/* PRINCIPIO FOOTER */



.footer {
  display: flex;
  background-color: var(--color-2);
  font-family: var(--font-1);
  height: 14vh;
  position: absolute;
  bottom: 0;
  width: 100%;
  align-items: center;
  justify-content: center;

}




.footer h2 {
  color: var(--color-1); 
  justify-content: center;
}

.footer li {
  display: inline;
}

.footer a {
  color: var(--color-1);
}



/* ========================== FIN FOOTER ++++++++++++++++++++++++++++++++*/


/* =============================== INICIO tienda ==================================*/


.tienda {
  background-color: var(--color-1);
  font-family: var(--font-1);
  width: 100%;
  height: 100%;
  letter-spacing: 0.03em;
}



.tienda__nav {
  text-align: center;
  padding-top: var(--spacing-m);
  padding-bottom: var(--spacing-m);
}



.tienda__nav li {
  display: inline;
  border-style: groove;
}



.tienda__container {
  background-color: var(--color-2);
  padding-top: var(--spacing-m);
  padding-bottom: var(--spacing-m);
  width: 90%;
  max-width: 1600px;
  border-radius: 0.5rem;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:auto;
  gap: var(--spacing-m);
}



.tienda__container--card {
  background-color: var(--color-1);
  width:20rem;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
}



.tienda__container--card img {
  width: 75%;
}



.tienda__container--card h2 {
  font-weight: 600;
  margin: var(--spacing-xs);
}



.tienda__container--text {
  padding: 0 1rem;
  font-size: var(--textSize-1);
  font-weight: 300;
  overflow: hidden;
}



.tienda__container--price {
  margin-top: 5%;
  font-weight: 400;
  padding-bottom: 1rem;
}


/* ====================================== FIN tienda ====================================*/





/* ============================= INICIO quienesSOMOS ============================*/

.grid{
  display: grid;
  justify-content: center;
  margin: var(--spacing-xl);
}
.gridContainer{
  width: 80vw;
  color: var(--color-1);
  display: grid;
  border-radius: 6px;
  gap: var(--spacing-xs);
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
  "gridItem1 gridItem2 gridItem2 gridItem2 gridItem3"
  "gridItem1 gridItem2 gridItem2 gridItem2 gridItem3"
  "gridItem4 gridItem4 gridItem5 gridItem6 gridItem6"
  "gridItem4 gridItem4 gridItem7 gridItem6 gridItem6"
  "gridItem8 gridItem9 gridItem9 gridItem9 gridItem10"
  "gridItem8 gridItem9 gridItem9 gridItem9 gridItem10"
;
}

.gridContainer article img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}


.gridContainer article{
  display: grid;
  align-items: center;
  justify-content: center;

  border-radius: 4px;
  transition: transform 0.3s ease-in-out;

  
  position: relative;
  cursor: pointer;
  overflow: hidden;
}


.gridItem1 {
  background-color: var(--color-1);
  grid-area: gridItem1;
}

.gridItem2 {
  background-color: var(--color-1);
  grid-area: gridItem2;
}

.gridItem3 {
  background-color: var(--color-1);
  grid-area: gridItem3;
}

.gridItem4 {
  background-color: var(--color-1);
  grid-area: gridItem4;
}

.gridItem5 {
  background-color: var(--color-1);
  grid-area: gridItem5;
}

.gridItem6 {
  background-color: var(--color-1);
  grid-area: gridItem6;
}

.gridItem7 {
  background-color: var(--color-1);
  grid-area: gridItem7;
}

.gridItem8 {
  background-color: var(--color-1);
  grid-area: gridItem8;
}

.gridItem9 {
  background-color: var(--color-1);
  grid-area: gridItem9;
}

.gridItem10 {
  background-color: var(--color-1);
  grid-area: gridItem10;
}







.grid article:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}


.grid__capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: all 300ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  align-items: center;
}

.grid article:hover > .grid__capa {
  opacity: 1;
  visibility: visible;
}

.grid article:hover > .grid__capa h2 {
  margin-top: var(--spacing-xs);
  margin-bottom: 0.5rem;
}

.grid article .grid__capa h2{
  color: var(--color-1);
  font-weight: 400;
  margin-bottom: var(--pacing-l);
  transition: all 400ms ease-out;
  margin-top: 1rem;
}
.grid article .grid__capa p{
  color: var(--color-1);
  font-size: 1em;
  line-height: 1.5;
  width: 90%;
  max-width: auto;
  margin: auto;}


/* ==================================== FIN quienesSomos ===============================*/

/* ===================INICIO registrate ==================================*/

.registro__main {
  font-family: var(--font-2);
  margin: 0;
  padding: 0;
}

.registro {
  width: 350px;
  background: var(--color-2);
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  color: var(--color-1);
  box-shadow: 7px 13px 37px #000;
}

.registro h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: var(--color-2);
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid var(--color-1);
  font-family: var(--font-2);
  font-size: 18px;
  color: var(--color-1);
  justify-content: center;
}

.registro p {
  height: 40px;
  text-align: center;
  font-size: 1em;
  line-height: 40px;
}

.registro a {
  color: var(--color-1);
  text-decoration: none;
}

.registro a:hover {
  color: var(--color-1);
  text-decoration: underline;
}

.registro .botons {
  width: 100%;
  background: var(--color-3);
  border: none;
  padding: 12px;
  color: var(--color-1);
  margin: 16px 0;
  font-size: 16px;
}



/* ============================FIN registrate ============================*/

/* =============================== INICIO tablaDeTalles =============================*/


.title__table--active {
  text-align: center;
  font-family: var(--font-1);
  margin: 4%;
  font-size: 40px;
}



.table {
  font-family: var(--font-1);
  letter-spacing: 0.03em;
  table-layout: fixed;
  width: 70%;
  max-width: 700px;
  min-width: 350px;
  margin: auto;
  margin-bottom: 5%;
  border-collapse: collapse;
  border: 3px ;
}



.table td {
  text-align: center;
  padding: 5px;
}



/* =====================================FIN tablaDeTalles ===========================*/






@media (max-width: 960px){
  .footer{
    font-size: .7em;
  }
}




/* medias quienesSomos */


@media (max-width: 960px){
  .gridContainer{
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-template-areas:
      "gridItem1 gridItem2"
      "gridItem3 gridItem4"
      "gridItem5 gridItem6"
      "gridItem7 gridItem8"
      "gridItem9 gridItem10"
  }
}

@media (max-width: 650px){
  .gridContainer{
      grid-template-columns: 1fr;
      grid-template-rows: 10fr;
      grid-template-areas:
      "gridItem1"
      "gridItem2"
      "gridItem3"
      "gridItem4"
      "gridItem5"
      "gridItem6"
      "gridItem7"
      "gridItem8"
      "gridItem9"
      "gridItem10"
  }
}