@media (max-width: 960px) {
  .footer {
    font-size: var(--textSize-l); }
    .footer a {
      margin-bottom: var(--spacing-xs); } }

header {
  font-family: var(--font-1); }
  header li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px; }
  header li a.active, header li a:hover {
    background: var(--color-3);
    transition: .25s; }
