* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body  {
    background-color: var(--color-1);
    padding-bottom: 3em;
    min-height: 100vh;
    padding-bottom: 20vh;
    position: relative;
}