:root {
     /*colores */
    --color-1: #F1F2EB;
    --color-2: #272727;
    --color-3: #5B8E7D;

     /* spacing */
    --spacing-xl: 6rem;
    --pacing-l: 4rem;
    --spacing-m: 2.4rem;
    --spacing-s: 2rem;
    --spacing-xs: 1rem;

     /* font family */
    --font-1: 'Source Code Pro', monospace;
    --font-2: 'calibri';

     /* font sizes */
    --textSize-0: 1.4rem;
    --textSize-l: 1.6rem;
    --textSize-2: 2.4rem;
    --textSize-3: 5.2rem;

}